@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050816;
  color: #FFFFFF;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

canvas {
  touch-action: none;
}

/* Custom Cinematic Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: #00F5FF;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7DF9FF;
}
